@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 20px;
}
html::-webkit-scrollbar-track {
  background: #F8FAFC;
}
html::-webkit-scrollbar-thumb {
  background-color: #60A5FA;
  border-radius: 6px;
  border: 3px solid  #60A5FA;
}
